*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'poppons';
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background-color: silver;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}
.eateazy{
    font-size: 2em;
    color: #080606;
    user-select: none;
}
.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #080606;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}
.navigation a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: black;
    border-radius: 5px;
    transform-origin:right ;
    transform: scaleX(0);
    transition: transform .5s;
}
.navigation a:hover:after{
    transform-origin:left;
    transform: scaleX(1);
}

.navigation .btnLogin-popup{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #080606;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color:  #080606;
    font-weight: 500;
    margin-left: 40px;
}
.navigation .btnLogin-popup:hover{
    background: #080606;
    color: rgb(255, 253, 253);
}
body {
    font-family: Arial, sans-serif;

}

img {
    border-radius: 15px;
    margin-top: 150px;
}
h1{
    padding-top: 20px;
}

h2 {
    font-size: 20px;
    padding-top: 20px;
}

.form-container {
    margin-top: 20px;
}

.form-container label {
    font-size: 16px;
    margin-bottom: 8px;
    display: block;
    margin-top: 15px;
}

.form-container input[type="text"], .form-container textarea {
    width: 300px;
    height: 50px;
    border-radius: 10px;
    padding: 5px;
    border: 3px solid #ccc;
    display: block;
}


.form-container textarea {
    height: 120px; 
    }

p {
    font-family: "Arial", sans-serif;
    font-size: 40px;
}

.rating {
    margin-top: 15px;
    font-size: 20px;
}

.rating input {
    display: inline-block;
    margin-right: 10px;
}

.quantity-container {
    margin-top: 20px;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.quantity-container input[type="number"] {
    width: 50px;
    height: 40px;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    margin: 0 10px;
}

.quantity-container button {
    padding: 5px 10px;
    margin: 0 10px; 
    border: 0;
    border-radius: 10px;
    background-color: #006a04;
    color: white;
    cursor: pointer;
}

.quantity-container button:hover {
    background-color: rgb(32, 32, 200);
}

.add-item-btn {
    padding: 10px 20px;
    margin-top: 40px;
    border: black;
    border-radius: 10px;
    background-color: #006a04;
    color: white;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    height: 70px;
}

.add-item-btn:hover {
    background-color: rgb(32, 32, 200);
}

.food-price {
    font-size: 18px;
    margin-top: 10px;
}


.veg-nonveg-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.veg-nonveg-container label {
    font-size: 16px;
    margin: 0 10px;
}